  <div class="page__footer">

  <!-- Footer Image Container -->
  <div class="footer-section">
    <img src="/assets/images/CapturaN2.png" alt="Footer Image" style="max-width: 12em; margin-top: 0em;">
  </div>

  <!-- Container Nosotros links -->
  <div class="footer-section page__footer-follow" style="justify-content: flex-start;">
    <div class="footer-heading">Nosotros</div>
    <ul class="general-links">
      <li><a href="/contacto/" rel="nofollow noopener noreferrer">Contacta con nosotros</a></li>
    </ul>
  </div>
  
  <!-- Container for Legal links -->
  <div class="footer-section page__footer-follow" style="justify-content: flex-start;">
    <div class="footer-heading">Legal</div>
    <ul class="general-links">
      <li><a href="/PoliticaDePrivacidad/" rel="nofollow noopener noreferrer">Politica De Privacidad</a></li>
      <li><a href="/PoliticaDeCookies/" rel="nofollow noopener noreferrer">Politica De Cookies</a></li>
      <li><a href="/AvisoLegal/" rel="nofollow noopener noreferrer">Aviso Legal</a></li>
    </ul>
  </div>

  <!-- Container for social media links -->
  <div class="footer-section page__footer-social" style="justify-content: flex-start; padding: 0em 2em;">
    <div class="footer-heading">Síguenos</div>
    <ul class="social-icons">
      <li><a href="https://www.instagram.com/grupojapon?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" rel="nofollow noopener noreferrer"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      <li><a href="https://www.facebook.com/GrupoJaponOficial/?locale=es_ES" rel="nofollow noopener noreferrer"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    </ul>
  </div>

  <!-- Container Copyright links -->
  <div class="footer-section page__footer-follow" style="justify-content: flex-start;">
    <ul class="general-links">
      &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
    </ul>
  </div>

</div>
