<nav class="small-navbar">
    <div class="small-navbar-inner">
        <div class="small-navbar-left">
            <ul>
                <li><a href="https://japonformacion.netlify.app/contacto/">Contacto</a></li>
            </ul>
        </div>
        <div class="small-navbar-right">
            <ul>
                <li><a href="https://www.instagram.com/grupojapon?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" rel="nofollow noopener noreferrer"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/GrupoJaponOficial/?locale=es_ES" rel="nofollow noopener noreferrer"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                <li>
                    <a href="tel:665556262" style="color: rgb(0, 0, 0);">
                        <i class="fas fa-phone" aria-hidden="true"></i> 665 556 262
                    </a>
                </li>
                <li><a href="https://app.grupojapon.es/">Empleados</a></li>
                <li><a href="https://grupojapon.moodlecloud.com/login/index.php"><i class="fas fa-user" aria-hidden="true"></i> Aula Virtual</a></li>
            </ul>
        </div>
    </div>
</nav>
