/* _contactform.scss */
img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  form.contact-form {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
  }
  form.contact-form p {
    margin-bottom: 1em;
    font-size: 16px;
  }
  label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
  }
  input, textarea {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }
  button {
    background-color: #e31c24;
    color: white;
    border: none;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #9b1b20;
  }
  