/* Footer styles */

.page__footer {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  color: $muted-text-color;
  background-color: $footer-background-color;

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
    flex: 1 0 0%; /* Ensure equal distribution of space */

    img {
      max-width: 12em;
      margin-top: 0em;
    }

    .page__footer-copyright {
      font-family: $global-font-family;
      font-size: $type-size-7;
      margin-top: 1em;
    }
    .page__footer-social {
      border-left: 1px solid;
    }

    .footer-heading {
      font-family: $global-font-family;
      font-size: $type-size-6;
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;

      li {
        font-family: $global-font-family;
        font-size: $type-size-6;
        text-transform: none;

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }

        a {
          color: inherit;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .social-icons {
      display: flex;
      flex-direction: column;
      order: 1; /* Ensure social icons appear at the top */

      li {
        font-family: $global-font-family;
        font-size: $type-size-6;
        text-transform: none;

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }

        a {
          color: inherit;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }

          i {
            margin-right: 0.5em;
          }
        }
      }
    }
  }

  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .footer-section {
      &.page__footer-social {
        order: -1; /* Move social icons to the top */
        border-left: none;
      }

      &.page__footer-copyright {
        order: 2; /* Move copyright to the bottom */
      }
    }
  }

  @media (max-width: 576px) {
    .page__footer {
      padding: 1em;
      flex-direction: column;
    }

    .footer-section {
      margin: 0.5em 0;
      align-items: center;
      text-align: center;

      img {
        margin-left: 0;
      }
    }
  }
}
